@model CreditoCarteraAdmin_AbInBev.Models.LlamadaNotificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LlamadaNotificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlobStorageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlobStorageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasPrevios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasPrevios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
