@model CreditoCarteraAdmin_AbInBev.Models.CreditoCliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreditoNuevo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditoNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditoNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCreditoNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCreditoNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEnvios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEnvios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
